* {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
  min-width: 550px;
}

body header.navbar + div.container {
  padding-top: 70px;
}

body .nav-link.active {
  color: #007bff;
}

body table td {
  word-wrap: break-word;
}

