* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
    min-width: 550px;

    header {
        &.navbar {
            +div.container {
                padding-top: 70px;
            }
        }
    }

    .nav-link {
        &.active {
            color: #007bff;
        }
    }

    table td {
        word-wrap: break-word;
    }
}
